SolProp_v1.2*
*.csv
*xls
*highsol_training
paper/paper.pdf
*.pyc
models/fastprop/output
models/chemprop/output
fastprop_sobolev/*output*
checkpoints/
slurm*err
slurm*out
aqsol
dev
# WIP
fastprop_sobolev*
data/dortmund.py
final_results/
best_pre_tloss/
*.zip
*.pptx
