SolProp_v1.2*
*.csv
*highsol_training
paper/paper.pdf
*.pyc
models/fastprop_custom/output*
models/fastprop_custom/.output*
models/fastprop_custom/transfer_optimal
checkpoints/
slurm*err
slurm*out
aqsol
